{{ define "main" }}
<div class="columns">
    <div class="column">

        <section class="section">
            <main class="container">
                <p class="title is-1 mb-4">{{ .Title }}</p>
                <p class="subtitle is-3 my-5">Tags</p>
            </main>

            <main class="container">
                <p class="mb-6">
                    <!-- create a list with all uppercase letters -->
                    {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

                    <!-- range all pages sorted by their title -->
                    {{ range sort .Site.Taxonomies.tags }}
                    <!-- get the first character of each title. Assumes that the title is never empty! -->
                    {{ $firstChar := substr .Page.Title 0 1 | upper }}

                    <!-- in case $firstChar is a letter -->
                    {{ if $firstChar | in $letters }}
                    <!-- get the current letter -->
                    {{ $curLetter := $.Scratch.Get "curLetter" }}
                    <!-- if $curLetter isn't set or the letter has changed -->
                    {{ if ne $firstChar $curLetter }}
                    <!-- update the current letter and print it -->
                    {{ $.Scratch.Set "curLetter" $firstChar }}


                    {{ end }}
                    <a class="tag is-primary my-1" href="{{ .Page.Permalink }}"><ion-icon name="pricetag-outline"></ion-icon>&nbsp; {{ .Page.Title }} ({{ .Count }})</a>
                    {{ end }}
                    {{ end }}
                </p>
            </main>

            <main class="container">
                <p class="subtitle is-3">Recent</p>
                    {{ range .Site.RegularPages.ByDate }}
                    {{ .Render "summary-abbrev" }}
                    {{ end }}
            </main>
        </section>

    </div>

    <div class="column is-narrow">
        <div class="container toc-menu" style="width: 350px;">
        </div>
    </div>

</div>
{{ end }}