{{ define "main" }}
<div class="columns">
    <div class="column is-flex-shrink-0">

        {{ partial "breadcrumbs.html" . }}

        <div class="mx-5">
            <h1 class="title is-1">{{ .Title }}</h1>

            {{- with .Params.tags -}}
            {{- if ge (len .) 1 -}}
            {{- range . -}}

            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">
                <span class="tag is-primary"><ion-icon name="pricetag-outline"></ion-icon>&nbsp; {{ . }}</span>
            </a>

            {{ end -}}
            {{- end -}}
            {{- end -}}
        </div>

        <section class="section">
            <article class="content" style="width:100%">
                {{ .Content }}
            </article>
        </section>

        <section class="section">
            <hr>

            <nav class="level">
                {{ if .PrevInSection }}
                <div class="level-left">
                    {{ with .PrevInSection }}
                    <div class="has-text-left">
                        <a href="{{ .Permalink }}">
                            {{/* <p class="title is-6 has-text-grey-lighter mb-2">&nbsp;PREVIOUS</p> */}}
                            <button class="button is-primary is-light">
                                <span class="icon-text">
                                    {{/* <span class="icon">
                                        <i class="fas fa-train"></i>
                                    </span> */}}
                                    <span><ion-icon name="caret-back-outline"></ion-icon> {{.Title}}</span>
                                </span>
                            </button>
                        </a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                {{ if and .PrevInSection (not .NextInSection) }}
                <div class="level-right">
                {{ else if and .NextInSection (not .PrevInSection) }}
                <div class="level-left">
                {{ else }}
                <div class="level-item">
                {{ end }}

                    {{ if .IsPage}}
                    {{ if .File.Path}}
                    {{ $.Scratch.Set "FilePath" .File.Path }}
                    {{ end }}
                    {{ with .Site.Params.GithubEdit}}
                    <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'><ion-icon name="create-outline"></ion-icon> Edit this page</a>
                    {{ end }}
                    {{ end }}
                </div>

                {{ if .NextInSection }}
                <div class="level-right">
                    {{ with .NextInSection }}
                    <div class="has-text-right">
                        <a href="{{ .Permalink }}">
                            {{/* <p class="title is-6 has-text-grey-lighter mb-1">NEXT UP&nbsp;</p> */}}
                            <button class="button is-primary is-light">
                                <span class="icon-text">
                                    {{/* <span class="icon">
                                        <i class="fas fa-train"></i>
                                    </span> */}}
                                    <span>{{.Title}} <ion-icon name="caret-forward-outline"></ion-icon></span>
                                </span>
                            </button>
                        </a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </nav>
        </section>

    </div>
    <div class="column is-narrow">
        <div class="toc-menu mb-6">

            {{ partial "toc.html" . }}

        </div>
    </div>

</div>
{{ end }}