<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTag -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kim Goetzke</title>
    <link rel="stylesheet" href="/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div id="particles-js"></div>
<section class="hero is-primary is-fullheight is-align-items-center">
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
                <div class="tile is-child">
                    <div class="column">
                        <figure class="image is-128x128 my-4" style="margin: auto;">
                            <img class="is-rounded" src="/logo.png" alt="Logo">
                        </figure>
                    </div>
                </div>
                <div class="tile is-child">
                    <div class="field has-addons">
                        <p class="control">
                            <a href="https://github.com/kimgoetzke?tab=repositories">
                                <button class="button is-dark is-rounded is-outlined" style="width: 150px;">
                                    <ion-icon name="logo-github"></ion-icon>
                                    &nbsp;&nbsp;GitHub
                                </button>
                            </a>
                        </p>
                        <p class="control">
                            <a href="{{ $.Site.BaseURL }}tags/">
                                <button class="button is-dark is-rounded is-outlined" style="width: 150px;">
                                    <ion-icon name="bulb-outline"></ion-icon>
                                    &nbsp;&nbsp;Reminders
                                </button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    const particlesBaseConfig = {
        "particles": {
            "number": {
                "density": {
                    "enable": false,
                    "value_area": 0
                }
            },
            "color": {
                "value": "#00ffd8"
            },
            "shape": {
                "type": "edge",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5524033491425908,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 2,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#00ffd8",
                "opacity": 0.7575817359669818,
                "width": 0.9
            },
            "move": {
                "enable": true,
                "speed": 2,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "bounce",
                "bounce": false,
                "attract": {
                    "enable": true,
                    "rotateX": 1026,
                    "rotateY": 1104.8066982851817
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "bubble"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 200,
                    "size": 10,
                    "duration": 0.1,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 50,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": false
    };

    let currentParticleInstance = null;
    let currentParticleCount = 0;

    function getParticleCountForScreenSize() {
        if (window.innerWidth < 1024) {
            return 30;
        } else if (window.innerWidth < 1920) {
            return 150;
        } else {
            return 300;
        }
    }

    function initOrUpdateParticles() {
        const newParticleCount = getParticleCountForScreenSize();
        if (newParticleCount === currentParticleCount && currentParticleInstance) {
            return;
        }
        currentParticleCount = newParticleCount;

        if (window.pJSDom && window.pJSDom.length > 0) {
            window.pJSDom[0].pJS.fn.vendors.destroypJS();
            window.pJSDom = [];
        }

        let activeConfig = JSON.parse(JSON.stringify(particlesBaseConfig));
        activeConfig.particles.number.value = newParticleCount;
        particlesJS("particles-js", activeConfig);
        currentParticleInstance = window.pJSDom[0];
    }

    initOrUpdateParticles();
    let resizeTimeout;
    window.addEventListener('resize', () => {
        clearTimeout(resizeTimeout);
        resizeTimeout = setTimeout(initOrUpdateParticles, 250);
    });
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
