/* Custom table of contents: Start */

.toc-menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    top: 50px;
    padding-left: 24px;
}

@media all and (min-width: 1675px) {
    .toc-menu {
        width: 300px;
    }
}

.toc-menu-links {
    border-left: 2px solid hsl(0, 0%, 96%);
}

/* Custom table of contents: End */
/* Other: Start */

.set-to-max-width {
    min-width: 960px;
    overflow-y: auto;
}

.set-to-max-height {
    min-height: 100vh;
    overflow-y: auto;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

.custom-hint {
    width: 100%;
}

#scroll-up-button {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
}

/* Other: End */
/* Scrollspy: Start */

body {
    position: relative;
}

nav a.active {
    font-weight: bold;
}

/* Scrollspy: End */
/* Custom tabs with radio buttons: Start */

.custom-tabs {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.custom-tabs-control {
    background-color: hsl(0, 0%, 86%);
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.custom-tabs-content {
    order: 999;
    width: 100%;
    display: none;
}

input[type="radio"][value="custom"]:checked+label+.custom-tabs-content {
    display: block;
}

input[type="radio"][value="custom"]:checked+label {
    background-color: hsl(0, 0%, 48%);
}


/* Custom tabs with radio buttons: End */
/* Code copy: Start */

pre {
    position: relative;
    margin: 5px 0;
    border-radius: 5px;
}

pre code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

pre button {
    position: absolute;
    color: hsl(0, 0%, 96%);
    top: 5px;
    right: 5px;
    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: hsl(0, 0%, 21%);
    border: ridge 1px hsl(0, 0%, 86%);
    border-radius: 5px;
}

pre button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 29%);
}

pre button:active {
    cursor: pointer;
    background-color: hsl(0, 0%, 48%);
}

/* Code copy: End */