.toc-menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow-y: auto;
    width: 300px;
    top: 50px;
    bottom: 0;
}

.content {
    display: inline-block;
}

.set-to-max-width {
    min-width: 960px;
    overflow-y: auto;
}

.set-to-max-height {
    min-height: 100vh;
    overflow-y: auto;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

nav a.active {
    font-weight: bold;
}

/* For testing only */

body {
    position: relative;
}